$font-open-sans:  'Opens Sans';


$font-size-nav:   22px;
$font-size-large:   30px;
$font-size-base:    25px;
$font-size-medium:  22px;
$font-size-small:   16px;
$font-size-tiny:    12px;

$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height: 30px;